html, body{
  margin: 0;
  padding: 0;
  min-width: 480px;
}

h2{
  color: SteelBlue;
  text-align: center;
}

p{
  color: SteelBlue;
  text-align: left;
}

.page-header{
  padding: 0 5px;
}

.network-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 5px;
  background-color: WhiteSmoke;
}

.network-menu {
  display: flex;
  flex-direction: column;
}

.network-menu li{
  list-style: none;
  color: DimGray;
}

.main-container{
  display: flex;
  flex-direction: column;
}

.enter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.log-form{
  width: 100%;
}

.report-form{
  width: 480px;
}

.enter-form{
  width: 470px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.enter-form-group{
  display: block;
  margin: 10px 0;
}

.enter-form-group label{
  color: Salmon;
}

.enter-form-group input, textarea{
  width: 455px;
  padding: 5px;
  outline: none;
  color: DimGray;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px White !important;
  -webkit-text-fill-color: DimGray !important;
  color: DimGray !important
}

.enter-form-group textarea{
  resize: vertical;
}

.btn{
  border: none;
  height: 30px;
  width: 100%;
  background-color: SteelBlue;
  color: Snow;
  align-self: center;
}

.btn:hover{
  background-color: LightSkyBlue;
}

.btn:active{
  background-color: Salmon;
}

.view{
  height: 1em;
}

.info{
  color: SteelBlue;
  padding: 5px;
}

.log{
  border: 1px solid SteelBlue;
  margin: 5px;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.report{
  margin: 5px;
}

a {
  color: LimeGreen;
  text-decoration: none;
}

a:hover {
  color: LightGreen;
  text-decoration: underline;
}

.report-table{
  border-collapse: collapse;
  width: 100%;
}

.report-table th, td{
  text-align: left;
  padding: 5px;
}

.report-table td:first-child {
  font-weight: bold;
}

.report-table tr {
  border-bottom: 1px solid SteelBlue;
  padding: 5px;
}

.report-table tr:last-child {
  border: none;
}
