html, body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.page-header{
  text-align: center;
  color: SteelBlue;
}

.enter-container{
  display: flex;
  height: 100%;
  align-items: top;
  justify-content: center;
}

.enter-form{
  display: block;
  width: 600px;
}

.enter-form-group{
  display: block;
  width: 100%;
  padding: 10px 0px;
}

.enter-form-group label{
  color: Salmon;
  text-align: center;
}

.enter-form-group input{
  width: 100%;
  padding: 5px;
  color: DimGray;
}

.btn, .info {
  display: inline;
}

.btn{
  border: none;
  height: 30px;
  width: 40%;
  background-color: SteelBlue;
  color: Snow;
}

.btn:hover{
  background-color: LightSkyBlue;
}

.big-btn{
  background-color: LimeGreen;
}

.big-btn:hover{
  background-color: LightGreen;
}

.btn:active{
  background-color: Salmon;
}

.info{
  color: SteelBlue;
  padding-left: 10px;
}

.log {
  padding-top: 10px;
}

a {
  color: LimeGreen;
  text-decoration: none;
}

a:hover {
  color: LightGreen;
  text-decoration: underline;
}

.network-container{
  display: flex;
  background-color: WhiteSmoke;
}

.network-container ul{
  color: SteelBlue;
}

.network-container li{
  display: inline-flex;
  list-style: none;
  color: DimGray;
}
